@model SocialNetwork.Models.Users.EditUserModel

<div class="row">
    <div class="col-md-2">
        <form asp-controller="Users"
              method="post">
            <div class="form-group">

                <label class="control-label">Name:</label>
                <input name="NewName" class="form-control" type="text" required pattern="[a-zA-Z0-9]+" value=@Model.NewName />
                <input name="Originalname" style="visibility:collapse" value="@Model.OriginalName" />
            </div>
            <input type="submit" class="btn btn-primary" asp-action="EditUserByIf" value="Change" />
        </form>
    </div>
</div>

