<div class="row">
    <div class="col-md-2">
        <form method="post" asp-action="AddUserByIf">
            <div class="form-group">
                <p>
                    <label class="control-label">User:</label>
                    <input type="text" name="Name" required />
                </p>
                <input type="submit" asp-action="AddUserByIf" />
            </div>
        </form>
   </div>
</div>