<form action="/login" method="POST">
    <h2>Login to SocialNetwork</h2>
    <div>
        <label for="username">Name</label>
        <input type="text" name="name" required autofocus />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" required autofocus />
    </div>
    <button type="submit" asp-action="Login">Sign in</button>
    <a asp-action="Register" class="btn btn-info">But I want register!</a>
</form>