<form action="/register" method="POST">
    <h2>register to SocialNetwork</h2>
    <div>
        <label for="username">Name</label>
        <input type="text" name="name" required autofocus />]
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" required autofocus />
    </div>
    <button type="submit" asp-action="Register">Register</button>
</form>