<div class="row">
    <div class="col-md-2">
        <form asp-controller="Gateway"
              method="post">
            <div class="form-group">
                <p>
                    <label class="control-label">Your name:</label>
                    <input name="Creator" class="form-control" type="text" required />
                </p>
            </div>
            <input type="submit" class="btn btn-primary" asp-action="GetUserPermissionsByIf" value="Show" />
        </form>
    </div>
</div>

