<form method="post" asp-action="AddGroupByIf">
    <p>
        <label class="control-label">Group's name:</label>
        <input type="text" name="Name" required />
    </p>
    <p>
        <label class="control-label">Creator:</label>
        <input type="text" name="Creator" required />
    </p>
    <p>
        <label class="control-label">Description:</label>
        <input type="text" name="Description" required />
    </p>
    <input type="submit" asp-action="AddGroupByIf">
</form>