<form method="post" asp-action="AddGroupByIf">
    <p>
        <label class="control-label">Group's name:</label>
        <input type="text" name="Name" required />
    </p>
    <p>
        <label class="control-label">Description:</label>
        <input type="text" name="Description" required />
    </p>
    <input name="Creator" style="visibility:collapse" value="@User.Identities.First(i => i.IsAuthenticated).Name" /><br />
    <input type="submit" asp-action="AddGroupByIf">
</form>