<form method="post" asp-action="AddGroupByIf">
    <input type="text" name="Name">
    <input type="text" name="Creator">
    <input type="text" name="Description">
    <input type="submit" asp-action="AddGroupByIf">
</form>