<form method="post" asp-action="AddPermissionByIf" style="width:inherit">
    <p>
        
    </p>
    <p>
        <label class="control-label">Type of object:</label>
        <select name="ObjectType" style="width:50%">
            <option disabled selected></option>
            <option value="Group">Group</option>
        </select>
    </p>
    <p>
        <label class="control-label">Name of object:</label>
        <input type="text" name="ObjectName" required />
    </p>
    <p>
        <label class="control-label">Permission:</label>
        <input type="text" name="Operation" required />
    </p>
    <input name="SubjectName" style="visibility:collapse" value="@User.Identities.First(i => i.IsAuthenticated).Name" /><br />
    <input type="submit" asp-action="AddPermissionByIf">
</form>